body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 243, 228);
  background-color: #0c0c0c;
}

h1 {
  color: rgb(255, 243, 228);
  display: block;
  font-size: 32px;
  font-weight: 100;
  line-height: 28px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(255, 243, 228);
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
}
li:first-letter {
  text-transform: capitalize;
}

a:any-link {
  color: rgb(107, 79, 79);
  text-decoration: none;
}

.search-bar {
  margin-top: 35px;
}

.btn-primary {
  color: rgb(255, 243, 228);
  background-color: rgb(107, 79, 79);
  border-color: rgb(107, 79, 79);
}
.container {
  max-width: 675px;
}

.weather-app-wrapper {
  max-width: 650px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid rgb(238, 214, 196);
  border-radius: 5px;
}
.overview {
  margin: 30px;
  text-align: center;
}

.weather-temperature img {
  margin-right: 15px;
  height: 72px;
  width: 72px;
}

.weather-temperature strong {
  color: rgb(255, 243, 228);
  font-size: 32px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 14px;
  top: -14px;
}

.combo-temp-units {
  margin-top: 22px;
}

.weather-temperature .active {
  color: rgb(255, 243, 228);
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}

.sun-moon-wrapper {
  text-align: center;
  padding-top: 10px;
}

.sun {
  max-width: 316px;
  margin: 8px;
  border: 1px solid rgb(238, 214, 196);
  border-radius: 5px;
}
.sun li {
  text-align: center;
  padding-bottom: 15px;
  border: none;
}

.moon {
  max-width: 316px;
  margin: 8px;
  border: 1px solid rgb(238, 214, 196);
  border-radius: 5px;
}
